@font-face {
  font-family: "Montserrat-Medium";
  src: url("./css/fonts/Montserrat-Medium.ttf") format("woff"),
    url("./css/fonts/Montserrat-Medium.ttf") format("opentype"),
    url("./css/fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("./css/fonts/Montserrat-Bold.ttf") format("woff"),
    url("./css/fonts/Montserrat-Bold.ttf") format("opentype"),
    url("./css/fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("./css/fonts/Montserrat-ExtraBold.ttf") format("woff"),
    url("./css/fonts/Montserrat-ExtraBold.ttf") format("opentype"),
    url("./css/fonts/Montserrat-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("./css/fonts/Montserrat-Regular.ttf") format("woff"),
    url("./css/fonts/Montserrat-Regular.ttf") format("opentype"),
    url("./css/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "AmiriQuran-Regular";
  src: url("./css/fonts/AmiriQuran-Regular.ttf") format("woff"),
    url("./css/fonts/AmiriQuran-Regular.ttf") format("opentype"),
    url("./css/fonts/AmiriQuran-Regular.ttf") format("truetype");
}

.main {
  font-family: "Montserrat-Regular" !important;
}

.App {
  text-align: center;
  background-color: #e6e6e6;
  min-height: 100vh;
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
