.dashboard_container {
  border-radius: 3px;
  background-color: white;
  margin: 20px;
}
.dashboard-image {
  width: 80px;
  height: 80px;
  margin: 5px;
  background: black;
}

.spaced_divs {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  text-align: initial;
}
.golden_button {
  background-color: #ff9833;
  border: 1px solid #ff9833;
}

.golden_button:hover {
  background-color: #ffbf00;
  border: 1px solid goldenrod;
}

.golden_button:active {
  background-color: #ffbf00;
  border: 1px solid goldenrod;
}
