.user_dashboard_container {
  border-radius: 3px;
  background-color: #333333;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 0px 0px 24px #000000;
}
.dashboard-image {
  width: 80px;
  height: 80px;
  margin: 5px;
  background: gold;
}

.spaced_divs {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  text-align: initial;
}
.golden_button {
  background-color: goldenrod;
  border: 1px solid goldenrod;
  font-family: "Montserrat-Bold";
  font-size: 18px;
  width: 100px;
}

.golden_button:hover {
  background-color: gold;
  border: 1px solid goldenrod;
}

.golden_button:active {
  background-color: #ffbf00;
  border: 1px solid goldenrod;
}
