.course-item {
  width: 15vw;
  height: 9vw;
  background: #8b8b8b;
  margin: 10px;
  border-radius: 6px;
}
.filter_title {
  color: #daa520;
  font-size: 2vw;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
.courses_controller {
  background: linear-gradient(to left top, #808080, #ffffff);
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
}

.filter_item {
  color: black;
  font-size: 1.7vw;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  gap: 10px;
}
a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.cancel_filter_button {
  background: #daa520 !important;
  font-weight: bold;
  width: fit-content;
  height: fit-content;
  font-size: 1.5vw;
  font-family: "Calibri";
  border-radius: 15px;
  border: 1px solid #d2ab32;
  color: black;
}

.cancel_filter_button:active,
.cancel_filter_button:hover {
  border: 1px solid black !important;
  background: black !important;

  color: #d2ab32 !important;
}

.cancel_filter_button:focus {
  background: black !important;
  color: #d2ab32;
}

@media (max-width: 800px) {
  .course-item {
    width: 150px;
    height: 100px;
  }
  .cancel_filter_button,
  .filter_title,
  .filter_item {
    font-size: 17px;
  }
}

.arrow {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='12' viewBox='0 0 10 12'%3E%3Cg id='Polygon_1' data-name='Polygon 1' transform='translate(0 12) rotate(-90)'%3E%3Cpath d='M 11.11690044403076 9.5 L 0.8830999732017517 9.5 L 6 0.971833348274231 L 11.11690044403076 9.5 Z' stroke='none'/%3E%3Cpath d='M 6 1.943650245666504 L 1.766189575195313 9 L 10.23381042480469 9 L 6 1.943650245666504 M 6 0 L 12 10 L 0 10 L 6 0 Z' stroke='none' fill='%23000'/%3E%3C/g%3E%3C/svg%3E%0A");
}
