.no_subsbcriptions_text {
  color: white;
  height: 65px;
  background: #8b8b8b;
  font-size: 27px;
  font-family: "Calibri";
  font-weight: bold;
  margin-bottom: 20px;
}

.user_courses_text {
  color: #daa520;
  font-family: "Calibri";
  height: 37px;
  font-size: 30px;
  font-weight: bold;
}
