.no_subsbcriptions_text {
  color: white;
  height: 65px;
  background: #8b8b8b;
  font-size: 27px;
  font-family: "Calibri";
  font-weight: bold;
  margin-bottom: 20px;
}

.user_courses_text {
  color: #daa520;
  font-family: "Calibri";
  height: 37px;
  font-size: 30px;
  font-weight: bold;
}

.learn_new_course_container {
  border-radius: 15px;
  background-color: #333333;
  height: 130px;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 0px 0px 24px #000000;
  justify-content: right;
  display: flex;
  gap: 15px;
}

.new_course_button {
  border: 1px solid goldenrod;
  font-weight: bold;
  font-size: 25px;
  width: 33px;
  height: 33px;
  background: #daa520;
  border-radius: 3px;
  line-height: 16px;
}

.new_course_button:hover {
  background-color: #ffbf00 !important;
  border: 1px solid #ffbf00;
}

.new_course_button:active {
  background-color: #ffbf00 !important;
  border: 1px solid #ffbf00 !important;
}

a {
  background-color: none !important;
  color: none !important;
}
a:hover {
  background-color: none !important;
  color: none !important;
}
a:active {
  background-color: none !important;
  color: none !important;
}

.created_courses_button {
  border: 1px solid goldenrod;
  font-weight: bold;
  font-size: 25px;
  min-height: 60px;
  color: black;
  background: #daa520;
  border-radius: 3px;
  line-height: 16px;
}

.created_courses_button:hover {
  background-color: #ffbf00 !important;
  border: 1px solid #ffbf00;
  color: black;
}

.created_courses_button:active {
  background-color: #ffbf00 !important;
  border: 1px solid #ffbf00 !important;
}
