.active_phase {
  color: black;
  background: linear-gradient(to left, #808080, #ffffff);
  width: 100%;
  height: 56px;
  font-weight: bold;
  font-size: 30px;
  border: 1px solid #808080;
  text-align: right;
  padding-right: 10%;
  padding-left: 10%;
  cursor: pointer;
}

.idle_phase {
  color: white;
  width: 100%;
  height: 56px;
  font-weight: bold;
  font-size: 30px;
  text-align: right;
  padding-right: 10%;
  padding-left: 10%;
  cursor: pointer;
}

.factory_white_texts {
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
  width: 40%;
  text-align: center;
}

.save_changes_button {
  border: 1px solid goldenrod;
  font-weight: bold;
  font-size: 25px;
  height: 50px;
  color: black;
  background: #daa520;
  border-radius: 3px;
  line-height: 16px;
}

.save_changes_button:hover {
  background-color: #ffbf00 !important;
  border: 1px solid #ffbf00;
  color: black;
}

.save_changes_button:active {
  background-color: #ffbf00 !important;
  border: 1px solid #ffbf00 !important;
}

.add_chapter_button {
  border: 1px solid goldenrod;
  font-weight: bold;
  font-size: 25px;
  height: 66px;
  width: 66px;
  color: white;
  background: #daa520;
  border-radius: 3px;
  line-height: 16px;
  padding-right: 3%;
  padding-left: 3%;
}

.add_chapter_button:hover {
  background-color: black !important;
  border: 1px solid black;
  color: white;
}

.add_chapter_button:active {
  background-color: black !important;
  border: 1px solid black !important;
}

.add_new_chapter_text {
  font-size: 33px;
  color: #daa520;
  font-weight: bold;
}

.save_button_container {
  padding: 3%;
}

.course_chapter_wrapper {
  position: relative; /* This is important for positioning the icon */
}

.remove_icon_,
.edit_icon_ {
  display: none;
}

.remove_icon_hovered {
  position: absolute;
  top: 70%; /* Position the icon in the middle vertically */
  left: 10%; /* Position the icon in the middle horizontally */
  transform: translate(-50%, -50%); /* Center the icon precisely */
  display: none; /* Hide the icon by default */
}

.edit_icon_hovered {
  position: absolute;
  top: 30%; /* Position the icon in the middle vertically */
  left: 10%; /* Position the icon in the middle horizontally */
  transform: translate(-50%, -50%); /* Center the icon precisely */
  display: none; /* Hide the icon by default */
}

.container:hover .edit_icon_hovered,
.container:hover .remove_icon_hovered {
  display: block; /* Show the icon on hover */
}

input[type="text"] {
  border: 1px solid #ccc; /* adds a border */
  padding: 8px; /* adds padding inside the input field */
  font-size: 16px; /* sets font size */
  border-radius: 5px; /* adds rounded corners */
}

input {
  color: white;
}
