.intro_text_front_page {
  font-family: "Calibri";
  font-weight: bold;
  color: black;
  text-align: right;
  margin-top: 3% !important;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;

}

.front-page-intro-golden {
  color: #daa520;
  font-size: calc(1100px * 0.018);
  text-align: end;
  line-height: calc(1100px * 0.027);
  word-spacing: calc(1100px * 0.0027);

  @media (min-width: 1100px) {
    line-height: 3vw;
    word-spacing: 0.2vw;
    font-size: 1.5vw;
  }
}

.front-page-intro-extra {
  color: white;
  font-size: inherit;
  font-size: calc(1100px * 0.018);
  text-align: end;
  line-height: calc(1100px * 0.027);
  word-spacing: calc(1100px * 0.0027);

  @media (min-width: 1100px) {
    line-height: 3vw;
    word-spacing: 0.4vw;
    font-size: 2vw;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  align-items: center;
  justify-content: center;
}

.flex-item {
  align-items: center;
  margin: 5px;
}

.flex-item.item-picture {
  width: 45vw;
}

.flex-item.item-text_front_page {
  width: 26vw;
  height: 68vh;
}

@media only screen and (max-width: 1100px) {
  .flex-container {
    flex-direction: column !important;
  }

  .flex-item {
    flex: 1 1 !important;
  }
  .item-text_front_page,
  .flex-item.item-picture {
    width: 97% !important;
  }
}

.button_container {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}
.join_button:active,
.join_button:hover {
  background: gold !important;
  border: 1px solid #d2ab32 !important;
  color: black !important;
}

.join_button {
  background: #daa520;
  width: fit-content;
  height: fit-content;
  font-size: 25px;
  font-family: "Calibri";
  height: 74px;
  border-radius: 37px;
  border: 1px solid #d2ab32;
  color: black;
}

.join_button.focus {
  background: gold;
}
