.shopping-buttons {
  background: #daa520 !important;
  font-weight: bold;
  width: 235px;
  height: fit-content;
  font-size: 1.3vw;
  font-family: "Calibri";
  margin: 5px;

  border: 1px solid #d2ab32;
  color: black;
}

.shopping-buttons:active,
.shopping-buttons:hover {
  border: 1px solid black !important;
  background: black !important;

  color: #d2ab32 !important;
}

.shopping-buttons:focus {
  background: black !important;
  color: #d2ab32;
}

.white-texts,
.orange-texts {
  color: #daa520;
  font-family: "Calibiri";
  font-weight: bold;
  font-size: 1.5vw;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 15px;
}

.white-texts {
  color: white;
}

.currency_dropdown .dropdown-toggle {
  /* styles for the dropdown toggle button */
  background: #818181;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 3px;
  border: 1px solid #818181;
  color: white;
  font-size: 1.5vw;
}

.currency_dropdown .dropdown-menu {
  /* styles for the dropdown menu */
  background: #333333;
  border-radius: 3px;
  color: white;
  font-size: 1.5vw;
}
.currency_dropdown .dropdown-menu .dropdown-item,
.currency_dropdown .dropdown-menu .dropdown-item:active {
  border-radius: 3px;
  color: white;
  font-size: 1.5vw;
}
.currency_dropdown .dropdown-toggle:active,
.currency_dropdown .dropdown-menu .dropdown-item:hover,
.currency_dropdown .dropdown-menu .dropdown-item:focus,
.currency_dropdown .dropdown-menu .dropdown-item:active {
  background: #daa520;
}

@media (max-width: 800px) {
  .shopping-buttons,
  .dropdown-toggle,
  .currency_dropdown .dropdown-toggle,
  .white-texts,
  .orange-texts,
  .currency_dropdown .dropdown-menu .dropdown-item,
  .currency_dropdown,
  .dropdown-menu {
    font-size: 18px;
  }
}
