.intro {
  height: 300px;
  padding-top: 50px;
  width: 50vw;
}

.front_page_container {
  display: flex;
  flex-direction: row;
  height: 80vh;
  width: 100%;
  background: #707070;
}

.intro_container {
  border: 1px solid #000000b3;
  box-shadow: -5px 0px 24px #000000b3;
  opacity: 1;
}

.intro_text {
  font-family: "Calibri";

  font-weight: bold;
  color: black;

  text-align: right;
  margin-top: 3%;
  width: 100%;
  padding-right: 5%;
  padding-left: 5%;

  font-size: calc(1100px * 0.015);
  text-align: end;
  line-height: calc(1100px * 0.02);
  word-spacing: calc(1100px * 0.002);

  @media (min-width: 1100px) {
    line-height: 4.8vw;
    word-spacing: 0.4vw;
    font-size: 4.8vw;
  }
}

.flex-item {
  align-items: center;
  margin: 5px;
  font-family: "Calibri";
}

.flex-item.item-picture {
  width: 45vw;
}

.flex-item.item-text {
  width: 25vw;
  height: 65vh;
}

.button_container {
  margin-top: 5%;
  margin-right: 20%;
}
.join_button:active,
.join_button:hover {
  background: #daa520 !important;
  border: 1px solid #d2ab32 !important;
  color: black !important;
}
.signin-intro {
  color: #daa520;
  font-size: 25px;
  font-family: "Calibri";
  text-align: end;
  margin-bottom: 30px;
}
.or_keyword {
  color: #daa520;
  font-size: 30px;
  font-family: "Calibri";
  text-align: center;
  margin-bottom: 2%;
  margin-top: 2%;
}

.join_button {
  background: #707070;
  width: fit-content;
  height: fit-content;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 26px;
  font-family: "Calibri";
  border-radius: 37px;
  border: 1px solid #d2ab32;
  color: black;
}

.join_button.focus {
  background: #daa520;
}

@media only screen and (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }

  .intro_text {
    font-size: 24px;
  }
  .flex-container {
    padding: 0;
  }
  .flex-item {
    flex: 1 1;
  }
}

@media only screen and (max-width: 800px) {
  .flex-item {
    flex: 1 1;
  }
  .flex-item.item-text,
  .flex-item.item-picture {
    width: 97%;
  }
}

@media only screen and (1100px > width > 800px) {
  .flex-item {
    flex: 1 1;
  }
  .flex-item.item-text,
  .flex-item.item-picture {
    width: 60vw !important;
  }
}

.signup-intro {
  color: #daa520;
  font-size: 30px;
  font-family: "Calibri";
  text-align: center;
  margin-bottom: 3%;
}

.sign-form {
  color: #daa520;
}

.submit-container {
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 5px;
  justify-content: center;
}
