.highlighted-move {
  background-color: #ffd700; /* golden color */
}

.moves_container {
  background-color: #e6e6e6;
  overflow: auto;
  border: 1px solid #b28704; /* darker golden color */
  background: whitesmoke;
  border-radius: 5px;
}

.trainer_container_focus,
.trainer_container {
  padding: 10px;
  background: #e6e6e6; /* darker golden color */
}

.closed {
  display: none;
}

.trainer_container_focus {
  height: 100vh;
}

.collapsed {
  visibility: hidden;
}

.reward_area {
  margin: 0 auto;
}

.collapsing.width {
  transition-property: width;
  width: 0;
  height: auto;
}

.collapsing.width > * {
  width: 400px;
}

.congratulations {
  text-align: center;
  color: #fff9c4; /* light golden color */
}

.celebration {
  animation: bounce 0.5s ease-in-out infinite alternate,
    rotate 0.5s linear infinite;
  color: #fff9c4; /* light golden color */
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.trainer_buttons {
  background: goldenrod;
  border: 1px solid goldenrod;
}

.trainer_buttons:hover {
  background: gold;
  border: 1px solid goldenrod;
}

.trainer_buttons[disabled] {
  background-color: gray;
  color: white;
  cursor: not-allowed;
  border: 1px solid grey;
}
