.highlighted-move {
  background-color: #ffd700; /* golden color */
  border-radius: 3px;
  font-family: "RobotoCondensed-Bold";
}

.moves_container {
  overflow: auto;
  border: 1px solid #b28704; /* darker golden color */
  background: #818181;
  border-radius: 5px;
  box-shadow: -5px 0px 24px #000000b3;
  opacity: 1;
  color: black;
}

.icon {
  position: absolute;
  background: red;
  background-color: red;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  z-index: 1;
}
.icon::before {
  content: "Look at this orange box.";
  background-color: #ffba10;
  border-color: black;
  border-style: dotted;
}

.trainer_container_focus,
.trainer_container {
  padding: 10px;
}

.closed {
  display: none;
}

.trainer_container_focus {
  height: 100vh;
  background-color: black;
}

.collapsed {
  visibility: hidden;
}

.reward_area {
  margin: 0 auto;
}

.collapsing.width {
  transition-property: width;
  width: 0;
  height: auto;
}

.collapsing.width > * {
  width: 400px;
}

.congratulations {
  text-align: center;
  color: #fff9c4; /* light golden color */
}

.celebration {
  animation: bounce 0.5s ease-in-out infinite alternate,
    rotate 0.5s linear infinite;
  color: #fff9c4; /* light golden color */
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.trainer_buttons {
  background: #d2ab32;
  font-family: "Montserrat-Bold";
  font-size: 24px;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  margin-left: 2px !important ;
  margin-right: 2px !important;
  min-height: 50px;
  font-weight: bolder;
  top: 813px;
  /*   width: 154px;
  height: 86px; */
  /* UI Properties */
  text-align: center;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  box-shadow: 0px 0px 13px #000000;
}
.trainer_buttons.test_yourself_training,
.trainer_buttons.next {
  border-top-right-radius: 0;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.trainer_buttons.test_yourself_training {
  border-top-right-radius: 30px;
}

.trainer_buttons.test_yourself,
.trainer_buttons.test_yourself.reset,
.trainer_buttons.previous[disabled],
.trainer_buttons.next[disabled],
.trainer_buttons.previous,
.trainer_buttons.next {
  width: 220px;
}

.test {
  background-color: blue;
}
.swap-board {
  border-radius: 50%;
}
.swap-board:hover {
  background-color: black;
  color: goldenrod;
}

.trainer_buttons.previous {
  border-top-left-radius: 0;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

@media screen and (max-width: 700px) {
  .trainer_buttons {
    font-size: small;
  }
}

@media (max-width: 600px) {
  div {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 700px) {
  div {
    grid-template-columns: 1fr;
  }
}

.pgn-viewer {
  font-family: Arial, sans-serif;
}

.move-line {
  display: flex;
  align-items: center;
}

.move-number {
  margin-right: 8px;
  font-weight: bold;
}

.move {
  margin-right: 8px;
}

.comments {
  font-style: italic;
  /*   display: flex; */
}

.variation {
  margin-left: 16px;
}

.variation-move-line {
  display: flex;
  align-items: center;
}

.inputs {
  background: #707070;
  color: white;
}

.submit_container {
  text-align: center;
}

.variation-move-number {
  margin-right: 8px;
  font-weight: bold;
}

.variation-move {
  margin-right: 8px;
}

.variation-comments {
  font-style: italic;
}

.trainer_buttons:hover {
  background: gold;
  border: 1px solid #d2ab32;
}

.trainer_buttons[disabled] {
  background-color: gray;
  color: white;
  cursor: not-allowed;
  border: 1px solid grey;
}

.trainer_buttons.focus {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.pgn-moves {
  display: flex;
  flex-wrap: wrap;
}

.move-row {
  display: flex;
  flex-direction: row;
  width: 50%;
  padding: 8px;
}

.move-number {
  font-weight: bold;
  width: 20px;
  text-align: right;
  margin-right: 8px;
}

.move-content {
  display: flex;
  flex-direction: column;
}

.variation-start {
  margin-left: 8px;
}

.variation-end {
  margin-left: 8px;
}

/* .decorator::before {
  content: "<<";
  background-color: #ffba10;
  border-color: black;
  border-style: dotted;
} */
