.highlighted-move {
  background-color: lightblue;
}
.moves_container {
  background-color: #e4e4e4;
  overflow: auto;
  border: 1px solid lightgray;
  background: whitesmoke;
  border-radius: 5px;
}
.trainer_container_focus,
.trainer_container {
  padding: 10px;
}

.closed {
  display: none;
}

.trainer_container_focus {
  background: black;
  height: 100vh;
}

.collapsed {
  visibility: hidden;
}

.reward_area {
  margin: 0 auto;
}

.collapsing.width {
  transition-property: width;
  width: 0;
  height: auto;
}

.collapsing.width > * {
  width: 400px; /* the demo used inline styling */
}

.celebration {
  animation: bounce 0.5s ease-in-out infinite alternate,
    rotate 0.5s linear infinite;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
