.footer {
  /*     position: fixed;
 */
  bottom: 0;
  width: 100%;
  background-color: #808080;
  padding: 10px;
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: 26px;
}

.lang_button .dropdown-toggle {
  /* styles for the dropdown toggle button */
  background: goldenrod;
  border-radius: 3px;
  border: 1px solid goldenrod;
  color: black;
  font-size: 26px;
}

.lang_button .dropdown-menu {
  /* styles for the dropdown menu */
  background: goldenrod;
  border-radius: 3px;
  font-size: 26px;
}
.lang_button .dropdown-menu .dropdown-item:active {
  background: gold;
  border-radius: 3px;
  color: black;
  font-size: 26px;
}

@media screen and (max-width: 700px) {
  .lang_button .dropdown-menu,
  footer,
  .lang_button .dropdown-toggle {
    font-size: 18px;
  }
}
