.variation_board {
  display: flex;
  flex-direction: column;
  border: 2px solid whitesmoke;
  border-radius: 5px;
  margin: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.variation_name {
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.87);
  padding: 10px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 2.4em; /* 2 lines */
  /* or */
}

.variation {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.variation_name a {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}

.variation a {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}

.variation_board > div:last-child {
  display: flex;
  justify-content: flex-end;
  background-color: white;
}

.variation_board Button {
  background-color: goldenrod;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid goldenrod;
  color: rgba(0, 0, 0, 0.87);
}

.variation_board Button:hover {
  background-color: gold;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  border: 1px solid goldenrod;
}
