.variation_board {
  display: flex;
  flex-direction: column;
  border: 2px solid whitesmoke;
  border-radius: 5px;
  margin: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.variation_name {
  background-color: royalblue;
  color: white;
  padding: 10px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 2.4em; /* 2 lines */
  background: linear-gradient(to bottom, royalblue, blue);
  /* or */
}
.variation_name:hover {
  background-color: darkblue;
}

.variation {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.variation_name a {
  color: white;
  text-decoration: none;
}

.variation a {
  color: black;
  text-decoration: none;
}

.variation_board > div:last-child {
  display: flex;
  justify-content: flex-end;
  background-color: white;
}

.variation_board Button {
  background-color: royalblue;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
}

.variation_board Button:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}
