.header_container {
  background: rgb(20, 23, 27);
  padding: 10px;
}

.signUp,
.login,
.courses_nav_tab {
  background: none;
  border: none;
  width: 100px;
}
.signUp:hover,
.login:hover,
.courses_nav_tab:hover {
  background: goldenrod;
}
.signUp:active,
.login:active,
.courses_nav_tab:active {
  background: goldenrod;
  border: none;
  border-bottom: 3px solid goldenrod;
}

.nav-item.active {
  background-color: blue;
  color: white;
}

.link {
  color: white;
  justify-content: center;
  font-size: 20px;
  text-align: center;
}

.link:hover {
  color: white;
  background: goldenrod;
  border-radius: 3px;
}
