.header_container {
  background: #daa520;
  padding: 10px;
  display: flex;
}

.signUp,
.login,
.courses_nav_tab {
  background: none;
  border: none;
  width: 100px;
}

.signUp:hover,
.login:hover,
.courses_nav_tab:hover {
  background: gold;
}

.signUp:active,
.login:active,
.courses_nav_tab:active {
  background: #000000b3;
  border: none;
  color: black;
}

.nav-item.active {
  background-color: blue;
  color: white;
}

.link {
  color: white;
  justify-content: center;
  font-size: 20px;
  text-align: center;
  width: fit-content;
}

.link:hover {
  color: white;
  background: goldenrod;
  border-radius: 3px;
}

.custom-dropdown-toggle {
  /* custom styles for the toggle button */
  background: #daa520;
  border: none;
  color: black;
  border: none;
  font-family: "AmiriQuran-Regular";
  font-weight: bold;
}
.custom-dropdown-toggle:hover {
  background: gold;
  color: black;
  border: none;
}

.custom-dropdown-item:hover,
.custom-dropdown-item:focus,
.custom-dropdown-toggle:focus,
.custom-dropdown-toggle:active {
  color: white;
  background: black !important;
}

.custom-dropdown-toggle:not(:focus) {
  background: goldenrod;
  color: black;
}

.custom-dropdown-toggle:not(:focus) {
  background: goldenrod;
  color: black;
}

.custom-dropdown-toggle-user {
  border: none;
}
.custom-dropdown-toggle-user:focus {
  background: goldenrod !important;
  color: black;
}
.custom-dropdown-toggle-user:active {
  background: goldenrod !important;
  color: black !important;
}

.custom-dropdown-toggle-user:not(:focus) {
  background: goldenrod !important;
  color: black;
}

.custom-dropdown-menu {
  /* custom styles for the dropdown menu */
  background: #daa520;
  border: none;
  border: 1px solid goldenrod;
  box-shadow: 0px 0px 24px #000000;
}

.custom-dropdown-item:active {
  color: white;
  background: black !important;
}
.custom-dropdown-item:hover {
  color: white;
  background: gold;
}

.custom-dropdown-item {
  /* custom styles for the dropdown items */
  border: none;
  color: black;
  font-family: "Montserrat-Bold";
}
